<ion-header class="dark-toolbar">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>


    <ion-title>
      {{ userRole === 'customer' ? 'Customers' : 'Employees' }}
    </ion-title>

    <ion-buttons slot="end" *ngIf="userRole === 'employee'">
      <ion-button (click)="openAddUserModal()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar> 
  
  <!-- Search -->
  <div class="search-wrapper">
    <ion-icon name="search"></ion-icon>
    <input
      placeholder="Search..."
      (input)="onSearch($event)"
    />
    
  </div>
</ion-header>

<ion-content class="customers-content">

  <!-- User List -->
  <div class="customers-list">

    <!-- Customers List Heading -->
    <div class="list-heading" *ngIf="userRole === 'customer'">
      Customers List
    </div>

    <!-- Employees List Heading -->
    <div class="list-heading" *ngIf="userRole === 'employee'">
      Employees List
    </div>
    <div
      class="customer-card"
      *ngFor="let user of users; let i = index"
      [ngClass]="'role-color-' + (i % 5)"
    >

    <!-- TOP ROW (Role only) -->
    <div class="top-row" *ngIf="userRole === 'employee'">
      <div class="role-badge">
        • {{ getRoleLabel(user?.roles) }}
      </div>
    </div>

    <!-- MAIN CONTENT ROW -->
    <div class="content-row">
    
      <!-- Avatar -->
      <div
        class="avatar"
        [ngClass]="'avatar-' + (i % 5)"
      >
        <ion-icon name="person-outline"></ion-icon>
      </div>

      <!-- Details -->
      <div class="details">
        <div class="title">
          {{ user.email || user.meta?.phone }}
        </div>
        <div class="subtitle" *ngIf="userRole === 'customer'">
          Redeem Points:
          <strong>{{ user.meta?.redeem_points || 0 }} Pts</strong>
        </div>
        <div class="subtitle-row" *ngIf="userRole === 'employee'">

          <div class="pin-text">
            Login PIN:
            <strong>{{ user.meta?.emp_login_pin }}</strong>
          </div>

          <div class="actions">
            <ion-icon
              name="create-outline"
              (click)="openEditUserModal(user)">
            </ion-icon>

            <ion-icon
              name="trash-outline"
              color="danger"
              (click)="confirmDeleteUser(user)">
            </ion-icon>
          </div>
        </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Infinite Scroll -->
  <ion-infinite-scroll
    (ionInfinite)="loadMore($event)"
    [disabled]="page >= totalPages"
  >
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
