<ion-header class="dark-toolbar" *ngIf="!editingUserId">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home" text=""></ion-back-button>
    </ion-buttons>

    <ion-title>Employees</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openAddEmployee()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


  <!-- Search -->
  <div class="search-wrapper">
    <ion-icon name="search-outline"></ion-icon>
    <input
      type="text"
      placeholder="Search by name"
      (input)="onSearch($event)"
    />
  </div>
</ion-header>
<ion-content class="employees-content">



  <ion-list>

    <ion-item
      lines="none"
      *ngFor="let user of filteredUsers; let i = index"
      (click)="editEmployee(user)"
    >

      <div class="employee-card"
           [ngClass]="'card-color-' + (i % 5)">

        <div class="role-label">
          • {{ getRoleLabel(user.roles) }}
        </div>

        <div class="card-content">

          <div class="avatar" [ngClass]="'avatar-' + (i % 5)">
  <img src="assets/icons/solar_user-broken.svg" alt="user" class="avatar-icon" />
</div>

          <div class="details">
            <div class="name">
              {{ user.first_name }}
            </div>
      <div class="login-id">

              Login Pin: 
               <span class="pin-number">{{ user.meta?.emp_login_pin || 'Not Set' }}</span>
            </div>
          </div>

        </div>

      </div>

    </ion-item>

  </ion-list>

<!-- EDIT EMPLOYEE FULL SCREEN -->
<div class="edit-overlay" *ngIf="editingUserId">

  <!-- Fixed Header -->
  <ion-header class="dark-toolbar edit-header">
    <ion-toolbar>
      <ion-buttons slot="start">
  <ion-button (click)="cancelEdit()" fill="clear" class="back-btn">
    <ion-icon ios="chevron-back" md="arrow-back-outline"></ion-icon>
  </ion-button>
</ion-buttons>

      <ion-title>Edit Employee</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Scrollable Form -->
  <div class="edit-content">

    <div class="edit-popup">

    
    <!-- Username -->
     <ion-label position="stacked">User Name</ion-label>
<div class="form-field">
  <ion-input
    placeholder="Enter username"
    [(ngModel)]="editedUser.username"
    (ionInput)="checkChanges()"
    [disabled]="isUsernameLocked">
  </ion-input>
</div>

    <!-- Email -->
     <ion-label position="stacked">Email</ion-label>
    <div class="form-field">
      <ion-input
        placeholder="Enter email address"
        [(ngModel)]="editedUser.email"
        (ionInput)="checkChanges()"
        (ionBlur)="emailTouched = true">
      </ion-input>
    </div>

    <p class="error-text"
      *ngIf="emailTouched && editedUser.email && !isValidEmail(editedUser.email)">
      Please enter a valid email format
    </p>

    <!-- First Name -->
     <ion-label position="stacked">First Name</ion-label>
    <div class="form-field">

      <ion-input
        placeholder="Enter first name"
        [(ngModel)]="editedUser.first_name"
        (ionInput)="checkChanges()">
      </ion-input>
    </div>

    <!-- Last Name -->
     <ion-label position="stacked">Last Name</ion-label>
    <div class="form-field">
      <ion-input
        placeholder="Enter last name"
        [(ngModel)]="editedUser.last_name"
        (ionInput)="checkChanges()">
      </ion-input>
    </div>

    <!-- Role -->
     <ion-label position="stacked">Employee Role</ion-label>
    <div class="form-field">
      <ion-select
        placeholder="Select Employee Role"
        [(ngModel)]="editedUser.role"
        (ionChange)="checkChanges()"
        interface="popover">

        <ion-select-option
          *ngFor="let role of customRoles"
          [value]="role.key">
          {{ role.name }}
        </ion-select-option>

      </ion-select>
    </div>

    <!-- Phone -->
     <ion-label position="stacked">Phone</ion-label>
    <div class="form-field"
     [class.invalid]="phoneTouched && editedUser.phone && !isValidPhone(editedUser.phone)">
      <ion-input
        placeholder="Enter phone number"
        [(ngModel)]="editedUser.phone"
        (ionInput)="limitPhoneLength($event); checkChanges()"
        (ionBlur)="phoneTouched = true">
      </ion-input>
    </div>

    <p class="error-text"
      *ngIf="phoneTouched && editedUser.phone && !isValidPhone(editedUser.phone)">
      Please enter a valid 10-digit phone number
    </p>

    <!-- Login PIN -->
     <ion-label position="stacked">Login PIN</ion-label>
    <div class="form-field"
     [class.invalid]="pinTouched && editedUser.emp_login_pin && !isValidPin(editedUser.emp_login_pin)">
      <ion-input
        placeholder="Enter 6-digit PIN"
        [(ngModel)]="editedUser.emp_login_pin"
        (ionInput)="limitPinLength($event); checkChanges()"
        (ionBlur)="pinTouched = true">
      </ion-input>
    </div>

    <p class="error-text"
      *ngIf="pinTouched && editedUser.emp_login_pin && !isValidPin(editedUser.emp_login_pin)">
      PIN must be exactly 6 digits
    </p>

    <p class="error-text" *ngIf="pinError">
      {{ pinError }}
    </p>


<!-- Save Button -->
<ion-button
  expand="block"
  class="save-btn"
  [disabled]="
    !editedUser.email ||
    !editedUser.role ||
    !isValidEmail(editedUser.email) ||
    (editedUser.phone && !isValidPhone(editedUser.phone)) ||
    (editedUser.emp_login_pin && !isValidPin(editedUser.emp_login_pin))
  "
  (click)="saveChanges()">
  Save Changes
</ion-button>

<!-- Delete Button -->
<ion-button
  expand="block"
  color="danger"
  fill="outline"
  class="delete-btn"
  (click)="deleteUser(editingUserId)">
  Delete Employee
</ion-button>
      <!-- <ion-button
        expand="block"
        fill="clear"
        (click)="cancelEdit()">
        Cancel
      </ion-button> -->

 

  </div>

</div>
</div>