.header-toolbar {
  --background: #264c73;
  --color: #ffffff;

  ion-title {
    padding-left: 0;
    margin-left: -6px;
  }
}

.edit-content {
  --background: #f2f2f2;
}

.form-container {
  padding: 20px;
}

/* Label */
.form-group label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-bottom: 6px;
  display: block;
}

/* Input Box */
.input-box {
  --background: #e9edf2;
  border-radius: 10px;
  margin-bottom: 18px;

  /* remove ionic spacing */
  --padding-start: 12px;
  --inner-padding-end: 12px;
  --min-height: 44px;
}

/* remove ion-item extra spacing */
ion-item.input-box {
  --border-width: 0;
}

/* Input */
ion-input,
ion-select {
  font-size: 14px;
}

/* Button */
.btn-container {
  padding: 20px;
}

.save-btn {
  --background: #264c73;
  --border-radius: 16px;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  text-transform: none !important;
}

.error-text {
  color: #e53935; /* red */
  font-size: 13px;
  margin-top: 4px;
  margin-left: 4px;
  font-weight: 500;
}

/////////////////////////////////////////////

/* iOS ONLY - Orders Header Fix */
:host-context(.ios) .header-toolbar ion-toolbar {
  display: flex;
  align-items: center;
}

/* Fix back button spacing */
:host-context(.ios) .header-toolbar ion-buttons[slot="start"] {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

/* Remove iOS default title centering */
:host-context(.ios) .header-toolbar ion-title {
  position: static !important;
  transform: none !important;
  text-align: left;
  padding-left: 0;
  margin-left: 2px;   /* 👈 same 2px spacing */
  flex: 1;
}

/* Reduce back button padding */
:host-context(.ios) .header-toolbar ion-back-button {
  --padding-start: 0px;
  margin-left: 2px;
}

/* Hide "Back" text */
:host-context(.ios) ion-back-button::part(text) {
  display: none;
}