.header-toolbar {
  --background: #264c73;
  --color: #ffffff;

  ion-title {
    padding-left: 0;
    margin-left: -6px;
  }
}

.edit-content {
  --background: #f2f2f2;
}

.form-container {
  padding: 20px;
}

/* Label */
.form-group label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-bottom: 6px;
  display: block;
}

/* Input Box */
.input-box {
  --background: #e9edf2;
  border-radius: 10px;
  margin-bottom: 18px;

  /* remove ionic spacing */
  --padding-start: 12px;
  --inner-padding-end: 12px;
  --min-height: 44px;
}

/* remove ion-item extra spacing */
ion-item.input-box {
  --border-width: 0;
}

/* Input */
ion-input,
ion-select {
  font-size: 14px;
}

/* Button */
.btn-container {
  padding: 20px;
}

.save-btn {
  --background: #264c73;
  --border-radius: 10px;
  height: 50px;
  font-weight: 600;
}

.error-text {
  color: #e53935; /* red */
  font-size: 13px;
  margin-top: 4px;
  margin-left: 4px;
  font-weight: 500;
}