<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="edit-content">

  <form [formGroup]="editForm">

    <div class="form-container">

      <!-- First Name -->
      <div class="form-group">
        <label>First Name:</label>
        <ion-item lines="none" class="input-box">
          <ion-input formControlName="first_name"></ion-input>
        </ion-item>
      </div>
      <p class="error-text" *ngIf="editForm.get('first_name')?.touched">
  <span *ngIf="editForm.get('first_name')?.errors?.['emojiNotAllowed']">
    Emojis are not allowed
  </span>
</p>

      <!-- Last Name -->
      <div class="form-group">
        <label>Last Name:</label>
        <ion-item lines="none" class="input-box">
          <ion-input formControlName="last_name"></ion-input>
        </ion-item>
      </div>

      <p class="error-text" *ngIf="editForm.get('last_name')?.touched">
  <span *ngIf="editForm.get('last_name')?.errors?.['emojiNotAllowed']">
    Emojis are not allowed
  </span>
</p>

      <!-- Username -->
      <div class="form-group">
        <label>User Name:</label>
        <ion-item lines="none" class="input-box">
          <ion-input formControlName="username" [disabled]="true"></ion-input>
        </ion-item>
      </div>

      <!-- Gender -->
      <div class="form-group">
        <label>Gender:</label>
        <ion-item lines="none" class="input-box">
          <ion-select formControlName="gender">
            <ion-select-option value="male">Male</ion-select-option>
            <ion-select-option value="female">Female</ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <!-- Phone -->
      <div class="form-group">
        <label>Phone Number:</label>
        <ion-item lines="none" class="input-box">
          <ion-input 
            type="tel" 
            formControlName="phone"
            maxlength="10">
          </ion-input>
        </ion-item>
      </div>

      <p class="error-text" *ngIf="editForm.get('phone')?.touched">

        <span *ngIf="editForm.get('phone')?.errors?.['required']">
          Phone number is required
        </span>

        <span *ngIf="editForm.get('phone')?.errors?.['pattern']">
          Only numbers are allowed
        </span>

        <span *ngIf="editForm.get('phone')?.errors?.['minlength'] || editForm.get('phone')?.errors?.['maxlength']">
          Phone number must be exactly 10 digits
        </span>

      </p>

      <!-- Email -->
      <div class="form-group">
        <label>Email Address:</label>
        <ion-item lines="none" class="input-box">
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
      </div>

    </div>

    <div class="btn-container">
      <ion-button 
        expand="block" 
        class="save-btn" 
        [disabled]="editForm.invalid"
        (click)="saveProfile()">
        Save Changes
      </ion-button>
    </div>

  </form>

</ion-content>