.form-box ion-item {
  margin: 12px 16px;
  border-radius: 10px;
  --background: #f5f7fb;
}

.save-btn {
  padding: 20px;
}
ion-label {
  font-weight: 500 !important;
  color: #666;
}

ion-input, ion-select {
  font-weight: 400;
}
/* Header color */
ion-toolbar {
  --background: #083d6a !important;
  --color: white !important;
}

/* Back arrow color */
ion-back-button {
  color: white !important;
}

/* Save button color */
.save-btn {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;

  padding: 0 20px;
}

.save-btn ion-button {
  height: 48px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
   --background: #083d6a ;
}
