<ion-content class="forgot-content">

  <div class="center-container">

    <div class="forgot-wrapper">

      <h2 class="title">Forgot Password</h2>

      <p class="description">
        Please enter your email address. You will receive a link to create a
        new password via email
      </p>

      <form [formGroup]="reset_form" (ngSubmit)="resetPassword()">

        <div class="form-group">
          <label>Email Address</label>

          <ion-input
            class="custom-input"
            type="email"
            placeholder="Email"
            formControlName="email">
          </ion-input>
        </div>

        <ion-button
          expand="block"
          class="reset-btn"
          type="submit">
          RESET PASSWORD
        </ion-button>

      </form>

    </div>

  </div>

</ion-content>
