<ion-content class="forgot-content">
  <!-- Back -->
  <ion-button fill="clear" routerLink="/signin"> 
  <ion-icon name="arrow-back-outline"></ion-icon>  Sign In
</ion-button>

  <div class="forgot-wrapper">

    <h2>Forgot Password</h2>

    <p class="description">
      Please enter your email address. You will receive a link to create a new
      password via email
    </p>
    <p>coment from kranthi</p>
    <form [formGroup]="reset_form" (ngSubmit)="resetPassword()">

      <ion-item lines="none" class="input-item">
        <ion-label position="stacked">Email Address:</ion-label>
        <ion-input
          type="email"
          placeholder="Email"
          formControlName="email">
        </ion-input>
      </ion-item>

      <ion-button
        expand="block"
        class="reset-btn"
        type="submit">
        Reset Password
      </ion-button>

    </form>

  </div>

</ion-content>
