/* White Background */
.forgot-content {
  --background: #ffffff;
}

/* FULL HEIGHT FLEX CENTER */
.center-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Content Wrapper */
.forgot-wrapper {
  width: 100%;
  max-width: 380px;
  padding: 0 28px;
  text-align: center;
  margin-bottom: 300px;
}

/* Title */
.title {
  font-size: 26px;
  font-weight: 700;
  color: #2f3e57;
  margin-bottom: 14px;
}

/* Description */
.description {
  font-size: 15px;
  color: #6b7280;
  margin-bottom: 35px;
  line-height: 1.6;
}

/* Form */
.form-group {
  text-align: left;
  margin-bottom: 30px;
}

.form-group label {
  font-size: 15px;
  font-weight: 600;
  color: #374151;
  margin-bottom: 8px;
  display: block;
}

/* Input */
.custom-input {
  --background: #f1f3f6;
  --padding-start: 16px;
  --padding-end: 16px;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
}

/* Button */
.reset-btn {
  --background: #2f466f;
  --border-radius: 10px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}
