<ion-header class="dark-toolbar">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home" text=""></ion-back-button>
    </ion-buttons>

    <ion-title>Customers</ion-title>
  </ion-toolbar>

  <div class="search-wrapper">
    <ion-icon name="search-outline"></ion-icon>
    <input
      type="text"
      placeholder="Search by name"
      (input)="onSearch($event)"
    />
  </div>
</ion-header>

<ion-content class="employees-content">

  <!-- LOADING STATE -->
  <div *ngIf="loading && customers.length === 0" class="loader-wrapper">
    <ion-spinner name="crescent"></ion-spinner>
  </div>


  <!-- <div class="list-heading">
    Customers List
  </div> -->

  <div
  class="employee-card"
  *ngFor="let user of customers; let i = index"
  [ngClass]="'card-color-' + (i % 5)"
>

    <div class="card-content">

     <div class="avatar" [ngClass]="'avatar-' + (i % 5)">
  <img src="assets/icons/solar_user-broken.svg" alt="user" class="avatar-icon" />
</div>

      <div class="details">

        <!-- Email OR Phone -->
        <div class="name">
          {{
            ((user.first_name || '') + ' ' + (user.last_name || '')).trim()
            || user.name
            || user.email
            || 'No Name'
          }}
        </div>

        <!-- Redeem Points -->
        <div class="login-id">
        Redeem Points:
        <strong>{{ user?.meta?.redeem_points ?? 0 }} Pts</strong>
        </div>

      </div>

    </div>
  </div>
  <ion-infinite-scroll
    threshold="100px"
    (ionInfinite)="loadMore($event)"
    *ngIf="hasMore"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more customers..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>