<ion-header>
  <ion-toolbar class="custom-header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/coupons" text=""></ion-back-button>
    </ion-buttons>

    <ion-title>Edit Coupon</ion-title>

    
  </ion-toolbar>
</ion-header>


<ion-content class="coupon-content">




<!-- CODE & DESCRIPTION -->
<div class="card">

  <!-- CODE -->
  <div class="field-block">
    <div class="label">Code</div>

    <div *ngIf="!editField.code"
     class="value editable-text"
     (click)="toggleEdit('code')">
      {{ coupon?.code }}
    </div>

    <ion-input
      *ngIf="editField.code"
      [(ngModel)]="coupon.code">
    </ion-input>

  </div>

  <div class="divider"></div>

  <!-- DESCRIPTION -->
  <div class="field-block">
    <div class="label">Description</div>

    <div *ngIf="!editField.description"
     class="value editable-text"
     (click)="toggleEdit('description')">
      {{ coupon?.description || 'Add description' }}
    </div>

    <ion-input
      *ngIf="editField.description"
      [(ngModel)]="coupon.description">
    </ion-input>

  </div>

</div>



<!-- STATUS / AMOUNT / TYPE -->
<div class="card">

  <!-- STATUS -->
  <ion-item lines="none" class="item-row">
    <ion-label>Status</ion-label>
    <div class="status-badge publish">
      Publish
    </div>
  </ion-item>

  <div class="divider"></div>

  <!-- AMOUNT -->
  <div class="field-block">
    <div class="label">Amount</div>

    <div *ngIf="!editField.amount"
     class="value editable-text"
     (click)="toggleEdit('amount')">
      {{ coupon?.amount }}
    </div>

    <ion-input
      type="number"
      *ngIf="editField.amount"
      [(ngModel)]="coupon.amount">
    </ion-input>
  </div>

  <div class="divider"></div>

  <!-- TYPE -->
  <div class="field-block">

    <div class="label">Type</div>

    <ion-select
      class="type-select"
      [(ngModel)]="coupon.discount_type"
      interface="popover">

      <ion-select-option value="fixed_cart">
        Cart Discount
      </ion-select-option>

      <ion-select-option value="fixed_product">
        Product Discount
      </ion-select-option>


    </ion-select>

  </div>

</div>



<!-- USAGE -->
<div class="card">

  <ion-item lines="none" class="item-row">
    <ion-label>Individual use</ion-label>

    <ion-toggle
      slot="end"
      [(ngModel)]="coupon.individual_use">
    </ion-toggle>
  </ion-item>

  <div class="divider"></div>

  <!-- Usage limit -->
  <div class="field-block">
    <div class="label">Usage limit</div>

    <div *ngIf="!editField.usage_limit"
     class="value editable-text"
     (click)="toggleEdit('usage_limit')">
      {{ coupon?.usage_limit }}
    </div>

    <ion-input
      type="number"
      *ngIf="editField.usage_limit"
      [(ngModel)]="coupon.usage_limit">
    </ion-input>
  </div>

  <div class="divider"></div>

  <!-- Usage limit per user -->
  <div class="field-block">
    <div class="label">Usage limit per user</div>

    <div *ngIf="!editField.usage_limit_per_user"
     class="value editable-text"
     (click)="toggleEdit('usage_limit_per_user')">
      {{ coupon?.usage_limit_per_user }}
    </div>

    <ion-input
      type="number"
      *ngIf="editField.usage_limit_per_user"
      [(ngModel)]="coupon.usage_limit_per_user">
    </ion-input>

  </div>

  <div class="divider"></div>

  <ion-item lines="none" class="item-row">
    <ion-label>Exclude sale items</ion-label>

    <ion-toggle
      slot="end"
      [(ngModel)]="coupon.exclude_sale_items">
    </ion-toggle>
  </ion-item>

</div>



<!-- MIN / MAX -->
<div class="card">

  <!-- Minimum -->
  <div class="field-block">
    <div class="label">Minimum amount</div>

    <div *ngIf="!editField.minimum_amount"
     class="value editable-text"
     (click)="toggleEdit('minimum_amount')">
      {{ coupon?.minimum_amount || '0.00' }}
    </div>

    <ion-input
      type="number"
      *ngIf="editField.minimum_amount"
      [(ngModel)]="coupon.minimum_amount">
    </ion-input>
  </div>

  <div class="divider"></div>

  <!-- Maximum -->
  <div class="field-block">
    <div class="label">Maximum amount</div>

    <div *ngIf="!editField.maximum_amount"
     class="value editable-text"
     (click)="toggleEdit('maximum_amount')">
      {{ coupon?.maximum_amount || '0.00' }}
    </div>

    <ion-input
      type="number"
      *ngIf="editField.maximum_amount"
      [(ngModel)]="coupon.maximum_amount">
    </ion-input>
  </div>

</div>


<!-- EXPIRE DATE -->
<div class="card">

  <div class="field-block">
    <div class="label">Expire date</div>

    <!-- Display -->
    <div class="value" (click)="openDatePicker()">
      {{
        coupon?.date_expires
          ? (coupon.date_expires | date:'yyyy-MM-dd')
          : 'Select date'
      }}
    </div>

    <!-- Edit icon -->
    <ion-icon
      name="calendar-outline"
      class="edit-icon"
      (click)="openDatePicker()">
    </ion-icon>

    

  </div>

</div>

<!-- DATE POPUP -->
<ion-modal
  [isOpen]="isDateModalOpen"
  backdropDismiss="true"
  cssClass="date-popup-modal"
  (didDismiss)="isDateModalOpen = false"
>
  <ng-template>
    <div class="calendar-container">
      <ion-datetime
        presentation="date"
        class="custom-calendar"
        [value]="coupon.date_expires"
        (ionChange)="setDate($event)">
      </ion-datetime>
    </div>
  </ng-template>
</ion-modal>

<!-- UPDATE BUTTON (BOTTOM) -->
<div class="update-wrapper">
  <ion-button
    expand="block"
    fill="solid"
    class="update-bottom-btn"
    (click)="updateCoupon()">

    Update Coupon

  </ion-button>
</div>
<!-- DELETE -->
<div class="delete-wrapper">
  <ion-button
    expand="block"
    fill="outline"
    class="delete-btn"
    (click)="deleteCoupon()">

    Delete coupon

  </ion-button>
</div>


</ion-content>