<ion-header class="shift-header">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back" class="back-icon"></ion-icon>

      </ion-button>
    </ion-buttons>

    <ion-title>Shifts</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear">
        
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <div class="search-container">
    <ion-icon name="search-outline" class="search-icon"></ion-icon>
    <input
      type="text"
      placeholder="Search..."
      (input)="filterShifts($event)"
    />
  </div>
</ion-header>



<!-- CONTENT (ALL CARDS HERE) -->
<ion-content class="ion-padding">

  <ion-card
    *ngFor="let shift of filteredShifts; let i = index"
    class="shift-card"
    [ngClass]="getBorderColor(i)"
    button
    (click)="openShift(shift)">

    <ion-card-content>

      <div class="top-row">
        <div class="user">

          <div class="avatar" [ngClass]="getBorderColor(i)">
            <ion-icon name="person-outline"></ion-icon>
          </div>

          <div>
            <h3>{{ shift.staffName }}</h3>

            <p class="muted">
              Opening Bal:
              <span class="amount">₹{{ shift.openingBalance }}</span>
            </p>

            <p class="muted">
              Sale:
              <span class="amount">₹{{ shift.sales }}</span>
            </p>
          </div>
        </div>

        <div class="right">
          <p class="date">• {{ shift.date | date:'dd/MM/yyyy' }}</p>

          <p>
            Closing Bal:
            <span class="amount">₹{{ shift.closingBalance }}</span>
          </p>

          <p class="muted">
            Over/Short:
            <span class="amount">₹{{ shift.overShort }}</span>
          </p>
        </div>
      </div>

      <div class="bottom-row">
        <span>Start: {{ shift.startTime }}</span>
        <span>End: {{ shift.endTime }}</span>
        <span>Duration: {{ shift.duration }}</span>
      </div>

    </ion-card-content>
  </ion-card>

</ion-content>
