// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/


// Ionic Variables and Theming
// http://ionicframework.com/docs/theming

:root {
  --ion-font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  --ion-color-primary: #3c4d93;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #434350;
  --ion-color-secondary: #335488;
  --ion-color-success: #335488;
  --ion-color-warning: #F59E0B;
  --ion-color-danger: #EF4444;
  --ion-background-color: #f6f8fb;
  --ion-text-color: #0f172a;
}