/* HEADER */
.coupon-header ion-toolbar {
  --background: #264c73;
  --color: #ffffff;
  --border-width: 0;
}

ion-title {
  font-weight: 600;
  font-size: 18px;
  margin-left: -6px;
}

ion-back-button {
  --color: #ffffff;
}

/* SAVE BUTTON */
.save-btn {
  --color: #ffffff;
  font-weight: 500;
  height: 32px;
}

/* PAGE BACKGROUND */
.coupon-content {
  --background: #f2f3f5;
  --padding-top: 20px;
  --padding-start: 12px;
  --padding-end: 12px;
  --padding-bottom: 12px;
}

/* CARD */
.coupon-card {
  background: #ffffff;
  border-radius: 14px;
  margin-bottom: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

/* ITEM */
ion-item {
  --background: transparent;
  --padding-start: 20px;
  --inner-padding-end: 20px;
  --min-height: 60px;
  border-bottom: 1px solid #eeeeee;
}

ion-item:last-child {
  border-bottom: none;
}

/* REMOVE IONIC FOCUS LINES */
ion-item {
  --highlight-height: 0;
  --highlight-color-focused: transparent;
  --highlight-color-invalid: transparent;
  --highlight-color-valid: transparent;
}

ion-select {
  --highlight-height: 0;
}

/* LABEL */
ion-label {
  font-size: 15px;
  font-weight: 600;
  color: #3a3a3a;
  margin-bottom: 6px;
}

/* VALUE ROW */
.value-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* VALUE TEXT */
.value-row span {
  font-size: 15px;
  color: #1f1f1f;
}

/* INPUT */
ion-input {
  --padding-start: 0;
  font-size: 15px;
  margin-top: 4px;
}

/* ICON */
ion-icon {
  font-size: 18px;
  color: #7a7a7a;
  cursor: pointer;
}

ion-icon:active {
  transform: scale(0.92);
}

/* BADGE */
ion-badge {
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 6px;
}

/* CALENDAR MODAL */
.calendar-modal {
  --height: auto;
  --width: 90%;
  --border-radius: 16px;
  align-items: center;
  justify-content: center;
}

.calendar-container {
  background: white;
  padding: 18px;
  border-radius: 16px;
}

/* Prevent Ionic label focus color change */
ion-item.item-has-focus ion-label {
  color: #353535 !important;
  font-size: 16px !important;
}

/* Prevent label shrinking */
ion-label {
  transform: none !important;
}

ion-item::part(native) {
  border-bottom: none !important;
}

/* Minimum & Maximum amount spacing */
.coupon-card ion-item:nth-last-child(2),
.coupon-card ion-item:last-child {
  margin-top: 6px;
  margin-bottom: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
}

/* Space above Usage Limit */
.coupon-card ion-item:nth-child(2) {
  margin-top: 12px;
}