<ion-header class="coupon-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/coupons" text=""></ion-back-button>
    </ion-buttons>

    <ion-title>Add Coupon</ion-title>

    
  </ion-toolbar>
</ion-header>

<ion-content class="coupon-content">

<!-- CODE + DESCRIPTION -->
<ion-card class="coupon-card">

<!-- CODE -->
<ion-item lines="none">
  <ion-label position="stacked">Code</ion-label>

  <div *ngIf="editing !== 'code'" class="value-row">
  <span
    (click)="startEdit('code')"
    class="editable-text"
    [ngClass]="{ 'placeholder-text': !coupon.code }">

    {{ coupon.code || 'Enter code' }}
  </span>
</div>

  <ion-input
  *ngIf="editing === 'code'"
  [(ngModel)]="coupon.code"
  placeholder="Enter code"
  (ngModelChange)="onCouponCodeChange($event)">
</ion-input>

<ion-text
  color="danger"
  class="field-error"
  *ngIf="couponCodeEmojiError">
  Emojis are not allowed.
</ion-text>
</ion-item>

<!-- DESCRIPTION -->
<ion-item lines="none">
  <ion-label position="stacked">Description</ion-label>

  <div *ngIf="editing !== 'description'" class="value-row">
    <span (click)="startEdit('description')" class="editable-text">
      {{ coupon.description || '----' }}
    </span>
  </div>

  <ion-input
    *ngIf="editing === 'description'"
    [(ngModel)]="coupon.description"
    placeholder="Enter description"
    (ionInput)="markDirty()">
  </ion-input>
</ion-item>

</ion-card>


<!-- STATUS / AMOUNT / TYPE -->
<ion-card class="coupon-card">

<ion-item>
  <ion-label>Status</ion-label>
  <ion-badge color="success">Publish</ion-badge>
</ion-item>

<!-- AMOUNT -->
<ion-item lines="none">
  <ion-label position="stacked">Amount</ion-label>

  <div *ngIf="editing !== 'amount'" class="value-row">
<span
  (click)="startEdit('amount')"
  class="editable-text"
  [ngClass]="{'placeholder-text': !coupon.amount}">

  {{ coupon.amount ? ('$' + coupon.amount) : 'Enter Amount' }}
</span>
  </div>
<div
  *ngIf="editing === 'amount'"
  class="currency-input-wrapper">

  <span class="currency-symbol">$</span>

  <ion-input
    type="tel"
    inputmode="numeric"
    [value]="displayAmount"
    (ionInput)="onAmountInput($event)">
  </ion-input>

</div>

</ion-item>

<!-- TYPE -->
<ion-item lines="none">
  <ion-label>Type</ion-label>

  <div class="coupon-type-fixed">
    Cart Discount
  </div>
</ion-item>

</ion-card>


<!-- USAGE SETTINGS -->
<ion-card class="coupon-card">

<ion-item>
  <ion-label>Individual Use</ion-label>
  <ion-toggle
    [(ngModel)]="coupon.individualUse"
    (ionChange)="markDirty()">
  </ion-toggle>
</ion-item>

<!-- Usage Limit -->
<ion-item lines="none">
  <ion-label position="stacked">Usage Limit</ion-label>

  <div *ngIf="editing !== 'usageLimit'" class="value-row">
    <span (click)="startEdit('usageLimit')" class="editable-text">
      {{ coupon.usageLimit || '----' }}
    </span>
  </div>

  <ion-input
    type="number"
    *ngIf="editing === 'usageLimit'"
    [(ngModel)]="coupon.usageLimit"
    (ionInput)="markDirty()">
  </ion-input>
</ion-item>

<!-- Usage Limit Per User -->
<ion-item lines="none">
  <ion-label position="stacked">Usage Limit Per User</ion-label>

  <div *ngIf="editing !== 'usageLimitPerUser'" class="value-row">
    <span (click)="startEdit('usageLimitPerUser')" class="editable-text">
      {{ coupon.usageLimitPerUser || '----' }}
    </span>
  </div>

  <ion-input
    type="number"
    *ngIf="editing === 'usageLimitPerUser'"
    [(ngModel)]="coupon.usageLimitPerUser"
    (ionInput)="markDirty()">
  </ion-input>
</ion-item>

<ion-item lines="none">
  <ion-label>Exclude Sale Items</ion-label>

  <ion-toggle
    [(ngModel)]="coupon.excludeSale"
    (ionChange)="markDirty()">
  </ion-toggle>
</ion-item>

</ion-card>


<!-- MIN / MAX -->
<ion-card class="coupon-card">

<!-- Minimum -->
<ion-item lines="none">
  <ion-label position="stacked">Minimum Amount</ion-label>

  <div *ngIf="editing !== 'minAmount'" class="value-row">
    <span (click)="startEdit('minAmount')" class="editable-text">
      {{ coupon.minAmount ? ('$' + coupon.minAmount) : '$ 0.00' }}
    </span>
  </div>

  <div
  *ngIf="editing === 'minAmount'"
  class="currency-input-wrapper">

  <span class="currency-symbol">$</span>

  <ion-input
    type="tel"
    inputmode="numeric"
    [value]="displayMinAmount"
    (ionInput)="onMinAmountInput($event)">
  </ion-input>

</div>
</ion-item>

<!-- Maximum -->
<ion-item lines="none">
  <ion-label position="stacked">Maximum Amount</ion-label>

  <div *ngIf="editing !== 'maxAmount'" class="value-row">
    <span (click)="startEdit('maxAmount')" class="editable-text">
      {{ coupon.maxAmount ? ('$' + coupon.maxAmount) : '$ 0.00' }}
    </span>
  </div>

 <div
  *ngIf="editing === 'maxAmount'"
  class="currency-input-wrapper">

  <span class="currency-symbol">$</span>

  <ion-input
    type="tel"
    inputmode="numeric"
    [value]="displayMaxAmount"
    (ionInput)="onMaxAmountInput($event)">
  </ion-input>

</div>
</ion-item>

</ion-card>


<!-- EXPIRE DATE -->
<ion-card class="coupon-card">

  <ion-item lines="none">

    <ion-label position="stacked">
      Expire Date
    </ion-label>

    <input
      type="date"
      class="native-date-input"
      [min]="today"
      [(ngModel)]="coupon.expireDate" />

  </ion-item>

</ion-card>


<!-- DATE MODAL -->
<ion-modal
  [isOpen]="showDatePicker"
  (didDismiss)="showDatePicker=false"
  class="calendar-modal">

  <ng-template>
    <div class="calendar-container">

      <ion-datetime
        presentation="date"
        [min]="today"
        [value]="coupon.expireDate"
        (ionChange)="setDate($event)">
      </ion-datetime>

    </div>
  </ng-template>

</ion-modal>

<!-- CREATE BUTTON (BOTTOM) -->
<div class="update-wrapper">
  <ion-button
    expand="block"
    fill="solid"
    class="update-bottom-btn"
    (click)="saveCoupon()">

    Create Coupon

  </ion-button>
</div>

</ion-content>