<ion-header class="products-header">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/home"></ion-back-button>
        </ion-buttons>

        <ion-title>Coupons</ion-title>

        <ion-buttons slot="end">
            <!-- Filter icon (same as Orders) -->
            <!-- <ion-button fill="clear" (click)="openProductFilters()">
        <ion-icon name="funnel-outline"></ion-icon>
      </ion-button> -->

            <!-- Add product -->
            <ion-button fill="clear" (click)="openAddCoupon()">
                <ion-icon name="add-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <div class="search-wrapper">
        <ion-icon name="search-outline"></ion-icon>
        <input type="text" placeholder="Search all Coupons" [(ngModel)]="searchTerm" (input)="filterCoupons()" />
    </div>
</ion-header>

<ion-content class="coupon-content">



    <!-- MAIN CARD -->
    <ion-item lines="none" class="coupon-card" (click)="editCoupon(coupon)" *ngFor="let coupon of filteredCoupons">

        <div class="card-row">

            <!-- Left Icon -->
            <div class="icon-box">
                <ion-icon name="pricetag-outline"></ion-icon>
            </div>

            <!-- Right Content -->
            <div class="card-content">

                <!-- Code -->
                <div class="code">Code: {{ coupon.code }}</div>

                <!-- Description -->
                <div class="description" *ngIf="coupon.description">
                    {{ coupon.description }}
                </div>

                <!-- Amount -->
                <div class="amount">
                    Amount: {{ coupon.amount }} (fixed cart)
                </div>

                <!-- Divider + ID -->
                <div class="divider-wrapper">
                    <div class="divider-line"></div>
                    <div class="coupon-id">#{{ coupon.id }}</div>
                </div>

                <!-- Bottom Row -->
                <div class="bottom-row">
                    <div class="usage">
                        {{ coupon.usage_count || 0 }}/ {{ coupon.usage_limit ? coupon.usage_limit : '100' }}
                    </div>

                    <div class="status">
                        Publish
                    </div>
                </div>

            </div>

        </div>

    </ion-item>



</ion-content>