<ion-header class="coupons-header">
  <ion-toolbar>

    <!-- Top row -->
    <div class="header-row">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/home"></ion-back-button>
      </ion-buttons>

      <ion-title>Coupons</ion-title>

      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="openAddCoupon()">
  <ion-icon name="add-outline"></ion-icon>
</ion-button>
      </ion-buttons>
    </div>

    <!-- Search bar -->
    <div class="search-wrapper">
  <ion-icon name="search-outline"></ion-icon>

  <input
    type="text"
    placeholder="Search all Coupons"
    [(ngModel)]="searchTerm"
    (input)="filterCoupons()"
  />

</div>

  </ion-toolbar>
</ion-header>

<ion-content class="coupon-content">


<div
  class="coupon-card"
  (click)="editCoupon(coupon)"
  *ngFor="let coupon of filteredCoupons"
>
  <div class="card-row">

    <!-- LEFT ICON -->
    <div class="icon-box">
      <img src="assets/icons/coupon.svg" class="coupon-icon" />
    </div>

    <!-- RIGHT CONTENT -->
    <div class="card-content">

      <div class="code">Code: {{ coupon.code }}</div>

      <div class="description" *ngIf="coupon.description">
        {{ coupon.description }}
      </div>

      <div class="amount">
        Amount: {{ coupon.amount }} (fixed cart)
      </div>

      <div class="divider-row">
        <div class="divider-line"></div>
        <div class="coupon-id">#{{ coupon.id }}</div>
      </div>

      <div class="bottom-row">
        <div class="action-group">
          <div class="usage">
            {{ coupon.usage_count || 0 }}/
            {{ coupon.usage_limit ? coupon.usage_limit : '100' }}
          </div>
          <div class="status">Publish</div>
        </div>
      </div>

    </div>

  </div>
</div> 
</ion-content>