.form-box ion-item {
  margin: 14px 16px;
  border-radius: 12px;
  --background: #f5f7fb;
}

ion-label {
  font-weight: 500 !important;
}

.submit-btn ion-button {
  --background: #083d6a !important;
  --color: white !important;
}

ion-toolbar {
  --background: #083d6a !important;
  --color: white !important;
}

ion-back-button {
  color: white !important;
}
.bottom-submit {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  padding: 0 20px;
}

.submit-btn {
  --background: #0b3c6d;
  --border-radius: 10px;
  height: 48px;
  font-size: 16px;
  font-weight: 600;
}
