<ion-header>
  <ion-toolbar >

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>

    <ion-title>Change Password</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="form-box">

    <!-- Old Password -->
    <ion-item>
      <ion-label position="stacked">Enter Old Password</ion-label>
      <ion-input [type]="showOld ? 'text' : 'password'"></ion-input>
      <ion-icon
        slot="end"
        name="eye-outline"
        (click)="showOld = !showOld">
      </ion-icon>
    </ion-item>

    <!-- New Password -->
    <ion-item>
      <ion-label position="stacked">Enter New Password</ion-label>
      <ion-input [type]="showNew ? 'text' : 'password'"></ion-input>
      <ion-icon
        slot="end"
        name="eye-outline"
        (click)="showNew = !showNew">
      </ion-icon>
    </ion-item>

    <!-- Confirm -->
    <ion-item>
      <ion-label position="stacked">Confirm New Password</ion-label>
      <ion-input [type]="showConfirm ? 'text' : 'password'"></ion-input>
      <ion-icon
        slot="end"
        name="eye-outline"
        (click)="showConfirm = !showConfirm">
      </ion-icon>
    </ion-item>

  </div>

  
<div class="bottom-submit">
  <ion-button expand="block" class="submit-btn">
    Submit
  </ion-button>
</div>
</ion-content>
