.dark-toolbar {
  --background: #264c73;
  --color: #ffffff;
}

ion-content {
  --background: #f5f7fa;
}

ion-item {
  --background: #ffffff;
  border-radius: 10px;
  margin-bottom: 12px;
}
/* Fix ion-select arrow alignment */
ion-select {
  width: 100%;
  --padding-start: 12px;
  --padding-end: 12px;
}

/* Make sure item has proper layout */
ion-item {
  --inner-padding-end: 0;
}

/* If using custom background */
.custom-item {
  --background: #e1e4ea;
  border-radius: 12px;
}
ion-input {
  --placeholder-color: #777;
  --placeholder-opacity: 1;
}
.save-btn {
  --background: #264c73;   /* button color */
  --color: #ffffff;        /* text color */
  --border-radius: 8px;
}

.create-user-btn {
  --background: #264c73;
  --background-hover: #264c73;
  --background-activated: #264c73;

  --border-radius: 14px;

  height: 50px;
  font-weight: 600;
  letter-spacing: 0.6px;

  margin-top: 40px;   /* pushes button downward */
}
.form-card {
  background: #ffffff;
  padding: 18px;
  border-radius: 16px;
  margin: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.06);
}