<ion-header class="shift-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Media</ion-title>

    <!-- <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="funnel-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>

  <!-- Search -->
  <!-- <div class="search-wrapper">
    <ion-icon name="search-outline"></ion-icon>
    <input
      placeholder="Search order / transaction"
      (input)="onSearch($event)"
    />
  </div> -->
</ion-header>

<ion-content>

  <!-- Upload -->
  <ion-card>
    <ion-card-content>
      <input type="file" (change)="onFileSelect($event)">
      <ion-spinner *ngIf="uploading"></ion-spinner>
    </ion-card-content>
  </ion-card>
   <!-- Pull to refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- Media Grid -->
  <ion-grid>
    <ion-row>
      <ion-col size="4" sizeMd="3" *ngFor="let m of mediaList">
        <ion-card>
          <img [src]="m.source_url">

          <ion-card-content>
            <ion-input
              [(ngModel)]="m.title.rendered"
              placeholder="Title">
            </ion-input>

            <ion-input
              [(ngModel)]="m.alt_text"
              placeholder="Alt text">
            </ion-input>

            <ion-button size="small" expand="block"
              (click)="updateMedia(m)">
              Save
            </ion-button>

            <ion-button size="small" color="danger" expand="block"
              (click)="deleteMedia(m.id)">
              Delete
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
   <!-- Infinite Scroll -->
  <ion-infinite-scroll
    threshold="100px"
    (ionInfinite)="loadMedia($event)"
    [disabled]="!hasMore">

    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more media...">
    </ion-infinite-scroll-content>

  </ion-infinite-scroll>
</ion-content>
