<ion-header>
  <ion-toolbar class="dark-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products-list"></ion-back-button>
    </ion-buttons>

    <ion-title>
      {{ isEdit ? 'Edit product' : 'Add product' }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button color="light" (click)="publishProduct()">Publish</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="settings-card image-block">

  <!-- Hidden file input -->
  <input
    type="file"
    #fileInput
    hidden
    accept="image/*"
    (change)="onFileSelected($event)"
  />

  <!-- Image / Placeholder -->
  <div class="image-box" (click)="fileInput.click()">
    <ng-container *ngIf="imagePreview; else emptyState">
      <img [src]="imagePreview" />
    </ng-container>

    <ng-template #emptyState>
      <div class="image-placeholder">
        <ion-icon name="image-outline"></ion-icon>
      </div>
    </ng-template>
  </div>

  <!-- Delete -->
  <div
    *ngIf="imagePreview"
    class="delete-photo"
    (click)="removeImage(); $event.stopPropagation()"
  >
    <ion-icon name="trash-outline"></ion-icon>
  </div>

</ion-card>





  <ion-card class="settings-card">

  <!-- Status -->
  <ion-item lines="full">
    <ion-label>Status</ion-label>
    <ion-select [(ngModel)]="product.status" interface="popover">
      <ion-select-option value="publish">Publish</ion-select-option>
      <ion-select-option value="draft">Draft</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Featured -->
  <ion-item lines="full">
    <ion-label>Featured</ion-label>
    <ion-toggle slot="end" [(ngModel)]="product.featured"></ion-toggle>
  </ion-item>

  <!-- SKU -->
  <ion-item lines="none" class="editable-item">
    <ion-label position="stacked">SKU</ion-label>

    <ion-textarea
      [(ngModel)]="product.sku"
      placeholder="Enter SKU"
      auto-grow="true"
      rows="1"
    ></ion-textarea>

    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="scanSku()">
        <ion-icon name="barcode-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>


</ion-card>


  <ion-card class="settings-card">

    <!-- TITLE -->
<ion-item lines="full" class="editable-item">
  <ion-label position="stacked">
    Title
  </ion-label>

  <!-- Display text -->
  <div
    class="value-text"
    *ngIf="!editTitle"
    (click)="editTitle = true"
  >
    {{ product.name || 'Product name' }}
  </div>

  <!-- Input -->
  <ion-input
    *ngIf="editTitle"
    [(ngModel)]="product.name"
    placeholder="Product name"
    (ionBlur)="editTitle = false"
  ></ion-input>

  
</ion-item>


    <!-- DESCRIPTION -->
<ion-item lines="none" class="editable-item">
  <ion-label position="stacked">
    Description
  </ion-label>

  <!-- Display text -->
  <div
    class="value-text"
    *ngIf="!editDescription"
    (click)="editDescription = true"
  >
    {{ product.description || 'Add description' }}
  </div>

  <!-- Textarea -->
  <ion-textarea
    *ngIf="editDescription"
    [(ngModel)]="product.description"
    auto-grow="true"
    rows="2"
    placeholder="Add description"
    (ionBlur)="editDescription = false"
  ></ion-textarea>

  
</ion-item>


  </ion-card>


  
  
  <ion-card class="settings-card">

    <!-- Header row -->
    <ion-item lines="full">
      <ion-label class="tax-title">
        Tax Class
        <ion-icon name="settings-outline"></ion-icon>
      </ion-label>

      <ion-button fill="clear" slot="end">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <!-- Value row -->
    <ion-item lines="none">
      <ion-label>
        
          {{ selectedTaxClass?.name || 'Select tax class' }}
        
        <p *ngIf="selectedTaxClass">
          {{ selectedTaxClass.percentage }}%
        </p>
      </ion-label>

      <!-- Invisible select for full-row click -->
      <ion-select
        interface="popover"
        slot="end"
        [(ngModel)]="selectedTaxClass"
      >
        <ion-select-option
          *ngFor="let tax of taxClasses"
          [value]="tax"
        >
          {{ tax.name }} ({{ tax.percentage }}%)
        </ion-select-option>
      </ion-select>


      
    </ion-item>

  </ion-card>



  <!-- Categories -->
  <ion-card class="settings-card">
    <ion-item lines="none">
      <ion-label>Product categories</ion-label>

      <ion-select
        slot="end"
        multiple="true"
        [(ngModel)]="product.category_ids"
        interface="popover"
      >
        <ion-select-option *ngFor="let cat of categories" [value]="cat.id">
          {{ cat.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>


  <!-- Product Tags -->
  <ion-card class="settings-card">
    <ion-item lines="none">
      <ion-label>
        Product tags
      </ion-label>

      <ion-select
        slot="end"
        multiple="true"
        [(ngModel)]="product.tag_ids"
        interface="popover"
      >
        <ion-select-option *ngFor="let tag of tags" [value]="tag.id">
          {{ tag.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>


  

  <!-- Product Type -->
  <ion-card class="settings-card">
    <ion-item lines="none">
      <ion-label>
        Type
      </ion-label>

      <ion-select
        slot="end"
        [(ngModel)]="product.type"
        (ionChange)="onProductTypeChange()"
        interface="popover"
      >
        <ion-select-option value="simple">Simple Product</ion-select-option>
        <ion-select-option value="variable">Variable Product</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>


  <!-- ATTRIBUTES (VARIABLE PRODUCT ONLY) -->
  <ion-card *ngIf="product.type === 'variable'" class="settings-card">
    <ion-item>
      <ion-label><strong>Attributes</strong></ion-label>
    </ion-item>
    
    <ion-card-content *ngIf="attributes.length === 0">
      <ion-text color="medium">
        Loading attributes...
      </ion-text>
    </ion-card-content>
    
    <div *ngFor="let attr of attributes">
      <ion-item>
        <ion-label>{{ attr.name }}</ion-label>
        <ion-select
          multiple="true"
          [(ngModel)]="selectedAttributes[attr.id]"
          (ionChange)="logSelectedAttributes()"
        >
          <ion-select-option *ngFor="let term of attr.terms" [value]="term.name">
            {{ term.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    
    <ion-item *ngIf="attributes.length > 0 && getSelectedAttributesCount() === 0">
      <ion-text color="warning">
        Select at least one attribute option to create variations
      </ion-text>
    </ion-item>
    
    <ion-item *ngIf="getSelectedAttributesCount() > 0">
      <ion-text>
        <small>{{ getCombinationCount() }} variation(s) will be created</small>
      </ion-text>
    </ion-item>
  </ion-card>

  <!-- Pricing -->
  <ion-card class="settings-card">

    <!-- REGULAR PRICE -->
    <ion-item lines="full" (click)="editRegularPrice = true">
      <ion-label>
        Regular price
        <p *ngIf="!editRegularPrice">
          {{ product.regular_price || 'Add regular price' }}
        </p>
      </ion-label>

      <ion-input
        *ngIf="editRegularPrice"
        type="number"
        inputmode="decimal"
        placeholder="Enter regular price"
        [(ngModel)]="product.regular_price"
        (ionBlur)="editRegularPrice = false"
      ></ion-input>

      <ion-icon
        *ngIf="!editRegularPrice"
        name="create-outline"
        slot="end"
      ></ion-icon>
    </ion-item>

    <!-- SALE PRICE -->
    <ion-item lines="none" (click)="editSalePrice = true">
      <ion-label>
        Sale price
        <p *ngIf="!editSalePrice">
          {{ product.sale_price || 'Add sale price' }}
        </p>
      </ion-label>

      <ion-input
        *ngIf="editSalePrice"
        type="number"
        inputmode="decimal"
        placeholder="Enter sale price"
        [(ngModel)]="product.sale_price"
        (ionBlur)="editSalePrice = false"
      ></ion-input>

      <ion-icon
        *ngIf="!editSalePrice"
        name="create-outline"
        slot="end"
      ></ion-icon>
    </ion-item>

  </ion-card>



  <!-- Inventory -->
  <ion-card class="settings-card">

    <!-- Manage Stock -->
    <ion-item lines="full">
      <ion-label>
        Manage Stock
      </ion-label>

      <ion-toggle
        slot="end"
        [(ngModel)]="product.manage_stock"
      ></ion-toggle>
    </ion-item>

    <!-- Stock Status -->
<ion-item lines="none" class="dropdown-item">
  <ion-label>
    Stock status
  </ion-label>

  <ion-note
    class="stock-badge"
    [ngClass]="product.stock_status"
  >
    {{
      product.stock_status === 'instock'
        ? 'In stock'
        : product.stock_status === 'outofstock'
        ? 'Out of stock'
        : 'Stock status'
    }}
    
  </ion-note>

  <!-- Full-row clickable select -->
  <ion-select
    interface="popover"
    class="full-row-select"
    [(ngModel)]="product.stock_status"
  >
    <ion-select-option value="instock">In stock</ion-select-option>
    <ion-select-option value="outofstock">Out of stock</ion-select-option>
  </ion-select>
</ion-item>



  </ion-card>


  <!-- Sold Individually -->
  <ion-card class="settings-card">

    <ion-item lines="none">
      <ion-label>
        Sold individually
      </ion-label>

      <ion-toggle
        slot="end"
        [(ngModel)]="product.sold_individually"
      ></ion-toggle>
    </ion-item>

  </ion-card>




  <!-- DELETE BUTTON (EDIT ONLY) -->
  <ion-button
    *ngIf="isEdit"
    expand="block"
    color="danger"
    class="delete-btn"
    (click)="confirmDelete()"
  >
    Delete Product
  </ion-button>

</ion-content>